.contact-page {
  padding: 3rem;

  display: flex;
  justify-content: center;
  text-align: center;
  ul {
    img {
      max-width: 200px;
      filter: invert(85%);
      margin-bottom: 1rem;
      border-radius: 50%;
    }
    a {
      h1 {
        font-size: 1.8rem;
        max-width: fit-content;
        padding-bottom: 2rem;
        &:hover {
          color: #7a98a3;
        }
      }

      h2 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
      }

      &:hover {
        .hover-reveal {
          background-image: url("https://thumbs.gfycat.com/FarawayThornyAfricanwilddog-small.gif");
          background-position: center;
          background-repeat: no-repeat;
          filter: invert(100%);
          max-width: 400px;
        }
      }
    }
  }
}
