@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222222;

  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

body {
  font-family: "Share Tech Mono", monospace;
  line-height: 1.4;
  max-width: 1200px;
  max-height: 100vh;
  margin: auto;
}

a {
  text-decoration: none;
}
